 <!-- Les boutons a coter de la legende-->
 
    <div class=" d-grid gap-4  p-5">
      <a type="button" class="btn btn-light text-black" [routerLink]="['/sageX3']" routerLinkActive="border-white bg-secondary text-white" [routerLinkActiveOptions]="{ exact: true}"> 
        <i class="fa-solid fa-industry" style="color:rgb(0, 140, 255)"></i> Addons Sage X3 </a>
      <a  type="button" class="btn btn-light text-black" [routerLink]="['/Link']" routerLinkActive="border-primary bg-secondary text-white" >
        <i class="fa-solid fa-atom" style="color:rgb(0, 140, 255)"></i>4CAD Link 2.0 </a>
      <a type="button" class="btn btn-light text-black" [routerLink]="['/Tools']" routerLinkActive="border-primary bg-secondary text-white">
        <i class="fa-solid fa-briefcase" style="color:rgb(0, 140, 255)"></i>  FCAD Tools  </a>
      <a  type="button" class="btn btn-light text-black" [routerLink]="['/GED']" routerLinkActive="border-primary bg-secondary text-white">
        <i class="fa-solid fa-folder-open" style="color:rgb(0, 140, 255)"></i> 4CAD GED  </a>
    </div>