<header class="p-3 blue text-white">
  <div class=" col-md-12">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      
      <div class="col-lg-auto me-lg-auto d-flex  ">
        <div class="mr-auto p-2">
        <i class="fa-solid fa-cubes fa-2xl"></i>
        </div>
        <div class="p-2">
        <p>SharePoint</p>
        </div>
      </div>

      <form class="col-12 col-lg-4 mb-3 mb-lg-0 me-lg-5" role="search">
        
        <input type="search" class="form-control form-control-dark text-black bg-white rounded-pill border border-secondary text-center" placeholder="Rechercher sur ce site" aria-label="Search">
        
      </form>

        <div class="col-md-3 d-flex justify-content-between">
          <a type="button" mat-icon-button color="primary" aria-label="Example icon button with a home icon">
            <mat-icon>settings</mat-icon>
          </a>
          <a type="button" mat-icon-button color="color-secondary" aria-label="Example icon button with a home icon">
            <mat-icon>device_unknown</mat-icon>
          </a>
          <button type="button" class="btn btn-info"> Connexion </button>
        
      </div>
    </div>
  </div>
</header>

<div class="container">
  
  <!-- La légende-->
  
  <div class="col-md-12 d-flex">
    <app-legende></app-legende>
    <!-- Séparation entre la légende et les bouton-->
  
      <!-- Les boutons a coter de la legende-->
      <div class="row col-md-4 mt-5 px-5 ">
        <app-bouton-nav></app-bouton-nav>
      </div>
  </div>
</div>

<div class="mt-5">
  <router-outlet></router-outlet>
</div>
